<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="LoginTest">
        <classes>
            <class name="com.example.springWeather.LoginPage">
                <methods>
                <include name="testgooglrsearch" />
                <include name="loginTest" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
